[2014-12-08 23:15] jbenet opened #11 "Implement Query"
https://github.com/datastore/datastore/blob/master/datastore/core/query.py

[2014-12-19 07:28] jbenet commented on #11
and http://datastore.readthedocs.org/en/latest/api/query.html

[2015-01-28 08:22] whyrusleeping opened #12 "Add Batching to the interface"
Would be nice (for perf mainly) to have the ability to perform batch Puts. The method signature i have been working with so far is `PutMany(data map[Key]interface{}) error`.

[2015-06-30 19:34] jbenet opened #24 "Add Redis Datastore"
https://github.com/ipfs/go-ipfs/pull/1427/files

[2015-07-27 16:23] ghost opened #28 "Go-datastore and return values"
Datastore.Get returns its result as a return value, which means that the Datastore implementation needs to allocate it. But if one wishes to store arbitrary types of data into a datastore, how can Get know what type of value to allocate? The only ways I can think of are
- either the Datastore implementation needs to memoize the reflect.Type of every value as it is Put, so it can recall the type ba

[2015-07-28 04:31] jbenet commented on #28
- we use `interface{}` so that wrapper datastores (like caches, etc) do not have to be made per-type. (if we chose, say `[]byte`, then if you wanted to use a `Foo` then you'd need to make a ton of new datastores which would be a pain. this may be obviated with the use of either generics, or `go generate` abuse)
- typically, things will end up as `[]byte` when sent to storage media, i.e. on disk or

[2015-07-28 12:31] ghost commented on #28
FWIW, I think a more elegant API would be one where Get returns its result in one of its arguments, i.e.

[code]

Now the datastore implementation doesn't need to allocate its return value, so there isn't any need for type bookkeeping either.  If necessary, you could still let the datastore implementation decide the return type by passing an empty interface pointer to v. I don't think this would m

[2015-11-12 19:24] whyrusleeping commented on #28
@jbenet @hubslave i like the idea of using an out parameter here.

[2015-11-16 17:33] jbenet commented on #28
hmmm yeah worth considering.

[2016-01-13 13:39] jbenet opened #36 "re-use this repo instead of ipfs/go-datastore"
hey @whyrusleeping i dont want the codebases to diverge-- you have collab now-- want to push here?

[2016-06-21 23:16] jbenet commented on #36
moved to https://github.com/ipfs/go-datastore

[2016-06-21 23:16] #36 closed, assigned to nobody

[2016-06-26 16:09] kevina opened #40 "Improve performance of Query method"
In ipfs/go-ipfs#2760 @whyrusleeping said in a line comment:

[2016-06-26 16:12] kevina commented on #40
@whyrusleeping I will be happy to look into this and determine where the bottleneck is.  It may be as simple as increasing the buffer size.  I will also try a direct iterator approach and see if that helps.

[2016-06-29 18:20] kevina commented on #40
Here are some performance numbers for doing a key-only query on the leveldb datastore:

![plot](https://cloud.githubusercontent.com/assets/1271492/16466714/28010c2e-3e12-11e6-9e09-d886b903693a.png)

The buffer size is the channel buffer size, direct is the results from querying the level-db directly.

And here are some results from the flatfs datastore:

![plot](https://cloud.githubusercontent.com

[2016-06-29 20:52] whyrusleeping commented on #40
@kevina thanks for these graphs, i think youre right, we should buffer the channels at 128 for now. And if we need more perf later, give the option for direct iteration.

[2016-06-30 02:57] kevina opened #42 "Checkin result of `gx-go rewrite`?"
The build process does a `gx-go rewrite` which of causes a lot of diff noise.  Now when I want to submit a pull request I got to be careful not check in the changes imports.

Should the results of `gx-go rewrite` just be check in like it is in go-ipfs to avoid this problem?

[2016-06-30 03:26] kevina commented on #40
I updated the graph for flatfs queries.  It seams there is enough overhead in the `filepath.Walk` that once the buffer is large enough the overhead of channels and goroutine is insignificant.

[2016-06-30 06:36] Kubuxu commented on #42
In general our projects are in non-rewritten state. Only go-ipfs is special as we don't want people to build it with wrong deps.

You can add `gx-go rewrite --undo` to your pre-commit git hook.

[2016-06-30 19:39] kevina commented on #40
I pushed the (somewhat hackish) code to create the graphs on the `kevina/query-benchmarks` for lack of a better place.

[2016-06-30 20:28] kevina commented on #42
Okay, if that is the general policy.  It seams a bit of a hack to have to use `gx-go rewrite --undo`.  It also, in my view,  touches a lot of files unnecessary.

[2016-06-30 20:43] whyrusleeping commented on #42
we dont commit the rewritten paths because that makes any updates to the package dependencies generate huge messy diffs and makes review much more tedious.

[2016-06-30 20:55] kevina commented on #42
I understand, it is a tradeoff.  There seams like there should be a better way to manage dependencies than rewriting code.  In any case this is a gx issue, so closing.

[2016-06-30 20:55] #42 closed, assigned to nobody

[2016-08-17 05:29] whyrusleeping opened #47 "split out subpackages into separate packages"
Updating portions of this codebase would be much easier if some of the more used subcomponents were extracted, such as flatfs and leveldb.

Restricting this package to an interface definition and some small 'stock' implementations would also greatly improve the dependency tree of any application wanting to make use of this codebase

[2016-08-18 03:20] jbenet commented on #47
Sgtm!
On Wed, Aug 17, 2016 at 01:29 Jeromy Johnson notifications@github.com
wrote:

[2016-09-14 04:57] whyrusleeping commented on #47
I've extracted a lot of the subrepos. Anything that had external dependencies now lives outside of this repo. I think for now, we can close this. If packages in this repo end up getting changes made to them more frequently the we should consider moving them out as well.

For now, lets close this

[2016-09-14 04:57] #47 closed, assigned to nobody

[2016-09-14 05:03] whyrusleeping commented on #12
We have batching now

[2016-09-14 05:03] #12 closed, assigned to nobody

[2016-09-14 05:03] whyrusleeping commented on #11
We have query

[2016-09-14 05:03] #11 closed, assigned to nobody

[2016-11-23 00:19] kevina opened #59 "Provide Query Paramater to avoid copying Value's data?"
When NextSync() is used it is safe to avoid copying the Value's data.  This will help mostly with go-ds-leveldb queries see https://github.com/libp2p/go-libp2p-kad-dht/issues/39.

@whyrusleeping Do you think this is a good idea?  If this paramater is provided it will be an error to call either the `Next()` or `Process()` methods on the results.

[2016-11-23 00:53] kevina commented on #59
From IRC:

[2016-12-22 12:00] duomoney opened #61 "Document implementions of datastore"
I was able to find the following backing datastore implementations:

* go-ds-leveldb
* go-ds-flatfs
* go-ds-redis

[This spec](https://github.com/ipfs/specs/blob/master/repo/fs-repo/README.md) mentions `boltdb`, but I think that's only for illustration purposes. There's also non-backing implementations:

* go-ds-lru
* go-ds-measure
* [autobatch](https://github.com/whyrusleeping/autobatch)
* [fails

[2017-01-09 11:30] Kubuxu opened #62 "Universal datastore test suit"
We have many implementations of datastore, it would be worth to have one common test suit that would cover many if not all test cases.

[2017-06-10 18:16] b5 commented on #28
Old thread, but happy so show support for the out param ida. It would bring the store interface in line with the (now standard lib) RPC package, which might open the door to some of the other interesting stuff RPC does w Register, protobuf under the hood, etc.

[2017-06-11 00:49] whyrusleeping commented on #28
@b5 Yeah, we've been thinking about reworking the interfaces here soon. If you're interested in pushing that forward, you could open a new issue and propose interface changes.

[2017-06-12 17:41] whyrusleeping opened #64 "New Datastore Interfaces"
The interfaces in go-datastore have been needing updating for a while. This came up in #28 so i decided to start the conversation up. Lets collect all these ideas together here so we can move forward with this.

Interface additions i've been looking for involve streaming interfaces:
[code]

Also, for queries and maybe 'gets' in general, it would be nice to have a readonly view interface. Many stor

[2017-06-12 19:38] kevina commented on #64
@whyrusleeping

Did you mean to return `WritePutter` here?

[2017-06-12 21:11] whyrusleeping commented on #64
@kevina ah, yeah. my bad

[2018-01-23 21:31] Stebalien opened #75 "Figure out what's going on with the locking in syncmount"
The datastores in syncmount use their locks inconsistently.

1. Mount doesn't appear to actually need a lock. Is this correct?
2. mountBatch does modify it's mounts map but fails to lock around some methods (e.g., commit, check, scrub, etc).

[2018-01-23 21:32] Stebalien opened #76 "Delete old, unused datastores."
Having to maintain old, unused, untested code is a pain (they won't work anyways because most of them haven't really been tested).

[2018-01-24 00:33] magik6k commented on #76
List of what is actually used and how (chocked by searching for usages on latest gx version used by go-ipfs):
* `callback`
  * Used in `coalesce` datastore tests (which is not used)
  * Used in `tiered` datastore tests (which is not used)
* `coalesce`
  * doesn't appear to be used by anything
* `elastigo`
  * ...
  * not used
* `fs`
  * not used
  * we have flatfs
  * it's a tiny, simple implement

[2018-01-24 00:36] magik6k commented on #76
And probably just rename `syncmount` to `mount`

[2018-01-24 00:59] Stebalien commented on #76
LGTM. @whyrusleeping? You should probably sign off on this since we're deleting code.

[2018-01-24 20:10] whyrusleeping commented on #76
@magik6k @Stebalien lets make a tag on the commit the code exists in before we delete it, and note it in an issue somewhere. After that, SGTM

[2018-01-24 20:24] #75 closed, assigned to magik6k

[2018-01-25 01:38] kevina commented on #76
Some of those might be useful as examples, such as `fs` and may be worth keeping around.  Maybe we can move those to the examples directory.

[2018-01-26 03:50] Stebalien commented on #76
I agree that some of them might be useful (e.g., tiered, timecache) but I'd actually like to get rid of the `fs` one, even if we keep the others. It's insecure/broken by default (it uses the key names as the file names without modifying them).

[2018-01-26 03:55] kevina commented on #76
The idea was to move it to the examples directory as use it as documentation, not to keep around as a useful datastore.  However, I am not set on the idea, any other trivial datastore could serve the same purpose.

[2018-01-26 05:33] Stebalien commented on #76
Yeah, I see the value as documentation... I guess we could just put a big warning saying "don't actually do it this way".

[2018-01-26 05:49] kevina commented on #76
I would also move it under `examples/fs`.

[2018-01-26 23:13] #76 closed, assigned to magik6k

[2018-02-06 17:03] ghost opened #80 "Graphql"
Isn't the idea of a database orthogonal to ipfs ?
Just like file storage and block storage are different beasts ?

It's great that the interface is meant to be implemented by other true databases, but that will not map to ipfs nodes easily. Are there any data store implementations that do ? Have not found anyike badger / boltdb using this yet.

What about using a newer approach where graphql is us

[2018-02-16 10:41] hsanjuan opened #83 "Importing failstore, retry-datastore, autobatch"
These three are used in go-ipfs (as far as dep graph goes):

* https://github.com/whyrusleeping/autobatch
* https://github.com/whyrusleeping/failstore
* https://github.com/whyrusleeping/retry-datastore

I think they might live here as subpackages?

@Stebalien @whyrusleeping

Alternatively I could fork them to the ipfs/ org in their own repos.

Alternatively I could get write access so I can bubble

[2018-02-16 17:15] whyrusleeping commented on #83
I think it makes sense to move them into go-datastore IFF we're confident that they won't need to be changed for a long time. And I think that is currently the case, so I'd say go ahead

[2018-03-09 10:10] hsanjuan opened #85 "DiskUsage and approximate values"
Per https://github.com/ipfs/go-ds-flatfs/pull/27, @kevina and others have raised concerns about not being possible to identify that the values returned by DiskUsage() might be approximate. It is also not possible to correct this programatically. Interesting bits:

Regarding re-calculating size:

This issue is to discuss the best approach to exposing that are innacurate.

Note that `badger` only up

[2018-05-04 20:38] Stebalien commented on #64
Can we also stop lying and just use byte slices/readers instead of `interface{}`?

[2018-05-08 10:33] whyrusleeping commented on #64
That would be nice, yes. Acceptings `[]byte`, `io.Reader` and `io.WriterTo` would be great (with the last one being the most efficient)

[2018-06-07 13:48] bigs opened #87 "Add TTL and Transaction support"
Migrating conversation from libp2p/go-libp2p-peerstore#28.

Would like to add deeper support for TTL and Transactions, specifically in the context of Badger.

This brings up a pretty relevant point/deficiency with having a single interface like `Datastore` in contexts where you really do want extra functionality:

- If we want to have meaningful mixes of `Datastore` functionality, call sites will

[2018-06-07 13:48] bigs commented on #87
@whyrusleeping @Stebalien

[2018-06-07 15:18] Stebalien opened #88 "Find a better type structure"
Currently, we have:

1. A ton of extension interfaces: CheckedDatastore, ScrubbedDatastore, Batching, etc...
2. A ton of wrappers: Delayed, Mount, Sync, Autobatch, etc...

And unfortunately, every wrapper needs to implement and forward every extension interface to the underlying datastore. It's kind of a nightmare.

According to @bigs, however,

I'm not sure about languages like Haskell but I'm pr

[2018-06-07 15:26] Stebalien commented on #88
One solution is to define new types and use go composition:

[code]

[2018-06-07 16:09] bigs commented on #88
Yeah, this seems pretty solid. I just kind of wonder if it breaks the facade of our interface altogether... Without generics you're going to have to have a direct reference to the underlying struct unless you're willing to resort to type assignment, which I think is probably OK. Like anything, it will have to be wielded responsibly.

[2018-06-07 17:18] Stebalien commented on #88
By "type assignment" I assume you mean "type assertion" (what it's called in go)? We do that anyways. Basically, I want to be able to take some object of type `Datastore` (where `Datastore` is an interface) and cast it to, e.g., `GCDatastore`).

---

Unfortunately, my method won't work with, e.g., the mount datastore (or any dispatching datastore, really). This is really where dynamic languages sh

[2018-06-20 21:08] Stebalien commented on #87
So, transactions in general would be really useful. Especially given the fact that we never guarantee that only a single service will be writing to some part of the datastore. However, I really don't have any concrete ideas on how to move forward.

[2018-06-25 23:07] #80 closed, assigned to nobody

[2018-07-25 19:39] bigs opened #90 "Create standard test suite"
poking around the `go-ds-badger` code, i was a bit surprised to see it implements all of its own tests. i feel like we could extend the `dstest` namespace to include a broader variety of tests (that test all of the subclasses of `Datastore`, too) and simply call into those from various implementations.

[2018-08-07 17:38] Stebalien commented on #90
I've started that in #93.

[2018-08-13 21:33] Stebalien opened #94 "Make the datastores take/return []byte slices"
This has been bugging me for a while so I figured I'd just go ahead and do it.

[2018-08-13 21:45] kevina commented on #94
@Stebalien there might have been a reason for the {}interface return value.  I would get the all clear from @whyrusleeping (and maybe jbenet, but don't want to bother him unless necessary) before proceeding as he would know the historical context better then either of us.  My apologizes if you already did.

[2018-08-13 21:47] Stebalien commented on #94
Thanks for bringing that up but I have talked with juan about this. In theory, the "datastore" was supposed to support arbitrary objects. However, that doesn't work well in practice and we never actually used that feature. I'm going to get @whyrusleeping's :+1: when CI is green.

[2018-08-13 21:54] kevina commented on #94
Okay as long as Juan and @whyrusleeping are okay with it, it sounds good to me.

[2018-08-13 22:05] Stebalien commented on #94
Last time I checked, Juan was more resigned to it than ok but close enough.

[2018-08-13 22:22] whyrusleeping commented on #94
Yolo

[2018-08-13 22:30] Stebalien commented on #94
All done!

[2018-08-13 22:30] #94 closed, assigned to nobody

[2018-08-14 22:28] #87 closed, assigned to nobody

[2018-09-18 16:56] raulk opened #97 "Datastores should expose Close()"
We should consider embedding `io.Closer` inside `Datastore` and upgrading all implementations to forward the call to the underlying closing method, as well as to perform any necessary cleanup (channels, goroutines, etc.):

* badger: https://godoc.org/github.com/dgraph-io/badger#DB.Close
* leveldb: https://godoc.org/github.com/syndtr/goleveldb/leveldb#DB.Close

[2018-09-18 17:17] Stebalien commented on #97
YES (although we shouldn't rely on it for correctness).

[2018-10-04 18:54] kevina commented on #97
Can you be more specific?

[2018-10-04 19:10] kevina opened #100 "Add a Rename method?"
The migration of the blockstore to multihashs only is going to require a massive renaming off a large number of keys.  At least for the flatfs datastore, an important optimization is to rename the file rather than remove and insert a new key.  The last time we did such a rename (https://github.com/ipfs/fs-repo-migrations/pull/39) we only had a single datastore config using flatfs so we special cas

[2018-10-04 19:46] Stebalien commented on #97
We should be able to close datastores so:

1. We *can* do a clean shutdown.
2. We can open, use, and then close a datastore without shutting down.

However, we shouldn't *rely* on datastores being correctly closed on shutdown (i.e., we should be able to crash).

(nothing surprising, just not very well put)

[2018-10-05 10:15] magik6k commented on #100
Agreed, and I'd suggest implementing this more like a query as some datastores are likely to support prefix renames.

[2018-10-05 18:31] kevina commented on #100
@magik6k can you clarify.  I am not sure I am following.  I am thinking something very simple and straight forward
[code]

[2018-10-06 04:21] magik6k commented on #100
I was thinking about something that would work a bit like linux `rename` command, possibly restricted to prefix only. That would allow for a nice optimizations in some cases, like ipfs-ds-convert with more advanced datastores.

I'm fine with the basic version too, it might be better in that it will be easier to implement an optimized version for more datastores.

Just throwing ideas.

[2018-10-16 12:56] bjzhang opened #101 "Add ceph rados datastore"
Currently ipfs support s3 and swift for clustering storage. We(ipfsbit) implement a ceph backend through rados([a reliable autonomic distributed object store](https://ceph.com/geen-categorie/the-rados-distributed-object-store/)).
The basic function works:
![img_0152](https://user-images.githubusercontent.com/2332740/47017527-14864700-d185-11e8-8b3a-bfecb73c9aea.JPG)

It will be easy to make more o

[2018-10-23 20:36] Stebalien opened #102 "Document the semantics of batch."
* Can it flush early?
* How is it different from a transaction?

Currently, it's *entirely* undocumented.

[2018-10-23 21:42] Stebalien opened #104 "Define Delete to be idempotent"
Moving from: https://github.com/ipfs/go-ds-flatfs/issues/30

1. We usually only care if the operation succeeded.
2. We *definitely* don't want to abort a batch operation because a delete failed.
3. User code often just aborts/returns errors without thinking about them.
4. Not all datastores *can* tell us if there was nothing to delete (e.g., badger).
5. Flatfs no longer reliably tells us this.
6.

[2018-10-23 21:44] Stebalien commented on #104
For example, see: https://github.com/ipfs/go-datastore/pull/103/files#diff-42ea5667b327bb207485077410d5f499R42. I *could* fix that, but it would require a bunch of extra state I don't really want to track (and it would cause a failed delete to fail the entire batch.

[2018-10-23 23:56] kevina commented on #104
I don't have a strong objection.  I would prefer a way to communicate back that a key is not found if that information is known, but as this may complicate things, this is not a hard requirement.

[2018-10-24 10:51] Stebalien commented on #104
The user can still call `Has` first. I agree that exposing all information we know is a good idea, it just makes life hard in practice (in this case).

[2018-10-24 11:19] Stebalien commented on #102
@bigs @magik6k thoughts?

[2018-10-24 11:36] raulk commented on #104
Generally, I agree. DELETEs are idempotent in SQL, leveldb, badger, redis, but some databases will report the number of keys deleted. Maybe we should add capability for returning an `(int, error)`, where the former can take value `-1` if the DB does not support this feature?

For the record, `go-ds-badger` does not return `ErrNotFound` on deleting an inexistent key; it simply forwards the error fr

[2018-10-24 12:56] Stebalien commented on #104
Ah, sorry, I meant we don't want to abort if the delete failed because the item wasn't there. We probably *do* want to abort on other errors.

So we'd return:

* 1 - We deleted something.
* 0 - Nothing happened.
* -1 - No idea.

(where we'd only return an error if something went wrong)

Personally, I'm not sure if implementing that is worth the work/complexity. Making DELETE idempotent is quite ea

[2018-10-24 13:51] bigs commented on #102
i'd push to have it's semantics not be transactional, i.e. writes in a `Batch` are not guaranteed to happen in the same iota of time. i'd say early flush is a no?

[2018-10-24 14:23] Stebalien commented on #102
Yeah, those both sound like good ideas. Transactions *are* batches but batches aren't transactions (and can partially fail). Would you have time to document this (on the interface definition)?

[2018-10-24 17:34] kevina commented on #104
@Stebalien I agree this is over-complicating things. I think the best to not worry about for now.  A better way to handle this is to query the datastore afterwards for the status of the last operataion, but this will require the use of handles, which is something we may want to do anyway down the road.

[2018-10-24 18:19] bigs commented on #104
i like @raulk's suggestion about returning the number of keys deleted... DBs that support versioning (badger) could potentially delete more than one key. so i'd think of it as <0, 0, >0

[2018-10-24 19:23] Stebalien commented on #104
@raulk @kevina @bigs so, are you fine making delete idempotent (for now) where, sometime in the future, we could consider adding a delete count? Really, I'm just trying to (a) simplify some code that tries to hard to track whether or not the operation succeeded and (b) trying to nail down semantics (I hate undefined behavior).

[2018-10-24 19:56] kevina commented on #104
@Stebalien that fine with me.

[2018-10-24 20:00] bigs commented on #104
absolutely. fine with me!
On Oct 24, 2018, 3:57 PM -0400, Kevin Atkinson <notifications@github.com>, wrote:

[2018-10-24 20:01] bigs commented on #102
absolutely!

[2018-10-24 21:49] raulk commented on #104
Idem. I have no immediate use case right now for the delete count.

[2018-10-24 22:23] raulk commented on #102
We can also characterise them in terms of properties. Batches provide no ACID guarantees and are mainly used for performance reasons; transactions provide atomicity and isolation guarantees.

[2018-10-25 03:33] schomatis commented on #104
SGTM, in my book `Delete` just means that following calls to `Get` are the ones that will actually return the `ErrNotFound` error, no guarantees of what was there before issuing the call.

[2018-11-01 14:46] magik6k commented on #101
Nice!

Sorry for the delay - the general flow of 'mainlining' a datastore would be:
* Put it in a repo somewhere on github, preferably under MIT license (or something compatible with MIT). We can open a repo under `ipfs/go-ds-rados` (assuming this name makes sense) and give you push access. This is preferred because it gives us easy access in case of refactors.
* Publish GX packages for it and it'

[2018-11-02 08:09] bjzhang commented on #101
Cool, this name is what I used. Once you create this project, I could push the initial version to it.

I touch gx when I work on go-unixfs, I will take a look other project and ask questions when I stuck.

Got it. I will do it after finish the gx relative work.

[2018-11-07 12:20] bjzhang commented on #101
Hi, we already test go-ds-rados with go-ipfs. Could you please create a repo such ipfs/go-ds-rados? As you said, it is easy to discuss about go-ds-rados specific issues. Hope we could do more to improve the datastore as well as go-ipfs/libp2p. Thanks.

[2019-01-29 02:03] Stebalien opened #114 "Txn no longer implements Datastore"
See: https://github.com/ipfs/go-datastore/pull/113.

Basically, `Datastore` now requires `Close` and transactions don't implement it. We *could* make `Close` a synonym for `Discard()` but that seems weird.

[2019-01-29 02:04] #97 closed, assigned to nobody

[2019-01-29 04:59] bigs commented on #114
yeah, this sounds reasonable. discard/commit have more nuanced semantics than close, so i don't think it's worth merging. are there any action items from this? just patrol for breakage?

[2019-01-29 15:42] raulk commented on #114
I think it's clearer anyway to denormalise `Txn` into `Reader` and `Writer`. I'm happy with https://github.com/ipfs/go-datastore/pull/113 and don't think there are any further action items.

[2019-01-29 15:51] Stebalien commented on #114
SGTM. We can revisit this if we run into trouble.

[2019-01-29 15:51] #114 closed, assigned to bigs, raulk, magik6k

[2019-02-04 00:06] drew-512 opened #116 "No way to query past Query.Prefix?"
Hi gents!

Currently, `Query.Prefix` is used to do the initial seek when a `Query` begins, and iteration only continues while that prefix holds.  There needs to be a flag that basically says, hey, don't use `Prefix` _once iteration has begun_.  Otherwise, there's no way to effectively do a seek and do an arbitrary amount of scanning.  This seems like a critical feature to leave behind, yikes.

Hop

[2019-02-04 00:54] magik6k commented on #116
Some datastores may not be able to support this (like flatfs, but it doesn't even support ordered iterating, so it's probably fine).

:+1: from me, just make sure that it's optional and not enabled by default (default = zero value)

cc @Stebalien @bigs

[2019-02-04 02:18] drew-512 commented on #116
Ok, cool, thanks for the quick response.

How about I whip up some changes, post them here for initial review/discussion and if they look good, we can take it from there.

[2019-02-04 15:47] drew-512 commented on #116
Ok, so so here's my proposed change to `Query`.

`query.go` ~ line 60
[code]

At first I was thinking a `bool` as I described in my prev post, but the drawback is that client would be forced to step entry by entry in order to close the query (as she checks each `Result.Entry.Key` to see if iteration has proceeded sufficiently far).   That would mean the client couldn't use `Query.Rest()` since ite

[2019-02-04 16:46] magik6k commented on #116
`Prefix`/`IterationPrefix` don't really seem intuitive, how about `Prefix`/`StartPrefix`:

[code]

[2019-02-04 16:56] drew-512 commented on #116
Love it -- great suggestion!

[2019-02-04 16:57] drew-512 commented on #116
SeekPrefix or StartPrefix?  SeekPrefix may more accurately describe the behavior for impls that literally have seek (vs prefix) behavior.

[2019-02-04 17:54] magik6k commented on #116
Yeah, `SeekPrefix` makes more sense

[2019-02-04 18:09] bigs commented on #116
i'm definitely not against this—i think it could be quite useful. i think we'll need to update datastores that don't natively support this to provide it or at least heavily document its absence.

[2019-02-04 18:55] drew-512 commented on #116
How about:

[code]

[2019-02-06 16:37] drew-512 commented on #116
Ok, so I made the discussed changes to leveldb, badger, and bolt -- changes were clean, cost-free, were only a couple lines, and have been tested.  Meanwhile, I'm not familiar with S3 to know the obvious path, so I was going to pass on S3 for now.  If y'all want, I can have `go-ds-S3/s3.go::Query()` return an unimp error if `Query.SeekPrefix` is set -- just let me know.

[2019-02-06 16:41] magik6k commented on #116
Feel free to open the PRs, it's easier to discuss changes there. (https://github.com/whyrusleeping/sql-datastore/ will also need support)

[2019-02-06 16:48] drew-512 commented on #116
ok great

[2019-02-06 17:04] magik6k commented on #116
Can you link the PRs here? (makes it easier for others to follow)

[2019-02-06 17:58] drew-512 commented on #116
Oops, yeah good idea.  :D

4 PRs submitted.  Will do SQL once we're past this step if that werks.

The 3 ds impl changes will of course get compile fails until the `Query.SeekPrefix` change is merged.

ds.Query:
https://github.com/ipfs/go-datastore/pull/119

badger:
https://github.com/ipfs/go-ds-badger/pull/47

leveldb:
https://github.com/ipfs/go-ds-leveldb/pull/26

bolt: (I also added support for

[2019-02-06 18:26] Stebalien commented on #116
Note: S3 calls this "StartAfter" (but SeekPrefix is fine with me).

[2019-02-06 23:40] Stebalien commented on #116
Question: How should this interact with sorting by value?

There are two reasonable solutions I can think of:

1. Apply after sorting. This is useful for resuming query.
2. Apply before sorting. This is useful for, e.g., scanning a range of dates. Maybe we even want to replace this field with a range (Start, Stop)? This is also likely easier to implement everywhere.

Thoughts?

[2019-02-07 00:24] bigs commented on #116
if we want to stay in line with leveldb and descendants, it should happen
after the sort. it feels like the semantics of the alternative would almost
be undefined

On Wed, Feb 6, 2019 at 18:40 Steven Allen <notifications@github.com> wrote:

[2019-02-07 15:25] drew-512 commented on #116
Liking that Start Stop idea, and it maps well to most impls (tho I can't speak for S3).   Steb, as you raised in the other thread, there's the bookkeeping factor w/ ascending vs descending order thing, so that's the main PITA factor I see.  With a Stop though, that means there'd now be another reason for a query to stop (which is useful b/c even w/ the SeekPrefix I'm using for now, for example, I

[2019-02-12 19:20] Stebalien commented on #116
Yes.

Almost. Stop would have to be Start+1. E.g., /a -> /b (non-inclusive).

We have a shared test suite in the `test` directory of this package (the entrypoint is `SubtestAll`). However, we're not using it everywhere and it's far from complete. See https://github.com/ipfs/go-ds-leveldb/blob/d9761ea1cccd53b8a27a50c1e6a2c4e975567699/ds_test.go#L325-L329 for an example.

But yeah, a complete shared

[2019-02-12 23:17] bigs commented on #116
yeah, i'm into it. we could even implement a member method, `Prefix(string)` that configures this for you. this definitely increases the power of datastores.

[2019-02-13 15:03] drew-512 commented on #116
Well, my thought was to define the Stop key as _inclusive_, which of course means either  <= or >=, depending on ascending/descending keys.  This would appear to fit in everywhere.  So maybe instead of Start/Stop, it's Start/Last, First/Last, or Seek/Last?

[2019-02-13 15:25] bigs commented on #116
i think the `[Start, Stop)` are a bit more reasonable, even if they require a little extra legwork for the `Prefix` case. that's not a particularly strong feeling, however, so feel free to disregard if you feel the implementation benefits. for your semantics, `[Start, End]` may suit as names

[2019-02-13 18:54] Stebalien commented on #116
With start/stop, I wouldn't take order into account (we also support things like ordering by value). That is, start/stop mean "all keys between start and stop" where start <= stop. That's really the main reason I prefer start/stop over seek.

Stop inclusive _can't_ mimic `Prefix`.  For example, `[/a, /a/zzz]` doesn't include `/a/zzzz`.

---

Note: We could also just use a custom range type:

[code

[2019-02-13 19:21] bigs commented on #116
my thinking was that if `Start` and `Stop` were still performing prefix matching, `["/a", "/a"]` would be equivalent to `{Prefix: "/a"}`. i do agree, however, that exclusive upper bounds are, perhaps, more intuitive.

re: removing `Prefix`, i think i misunderstood earlier the intent of this change. i thought we were replacing it with stop/start functionality. i don't know how the two would interac

[2019-02-13 19:30] Stebalien commented on #116
Got it. Yeah, that would also work (although I mildly prefer ranges).

It just feels like an unnecessary breaking change (although we could deprecate it).  With prefix and start/stop, I assume you'd turn the prefix into a range and then take the intersection. We can even add helper functions for this.

[2019-02-13 20:39] Stebalien commented on #116
Range code: https://gist.github.com/66d63607ee56de9192025c8606f57e3b

(needs tests).

Really, this is starting to make me like my ranges less... (but at least that code only has to be written once).

[2019-08-21 11:06] MichaelMure commented on #104
I was bitten by this one. In particular, the `Delete` function of `MapDatastore` in this repository is *not* idempotent. As it is often used to implement a test suite, it also force in some situation to deal with this case.

[2019-08-21 12:43] MichaelMure commented on #104
Another one not idempotent is flatfs.

[2019-08-21 16:42] #104 closed, assigned to bigs, raulk, kevina, magik6k, schomatis

[2019-08-21 17:33] Stebalien commented on #104
All done!

[2019-10-30 23:20] aschmahmann opened #137 "Asynchronous Datastores"
## Proposal

1. Add a `Sync(prefix Key)` function to the `Datastore` interface.
    * This function will be a no-op when the datastore is in synchronous mode (the default).
    * Otherwise, `Sync(prefix)` guarantees that any `Put(prefix + ..., value)` calls that returned _before_ `Sync(prefix)` was called will be observed _after_ `Sync(prefix)` returns, even if the program crashes.
2. Insert calls

[2019-11-04 20:56] aschmahmann commented on #137
It's looking a lot like Badger on Windows **only** supports asynchronous writes due to issues with Golang not respecting Windows permissions.

This means that until there's a fix in Golang/Badger then if we want to support Badger we should support asynchronous datastores.

[2019-11-04 22:04] whyrusleeping commented on #137
I don't know that I would add `Sync` to the base datastore interface, but having it be an optional specialization that we soft require everywhere seems fine to me.

Other than that, this LGTM. Seems like something i've wanted for quite a long time.

[2019-11-05 00:04] raulk commented on #137
My main comment is that in practice, a datastore gets used by components with different reliability requirements, e.g. peerstore, IPFS repo, etc. If some some are async and others are sync, the sync ones would end up paying the cost to flush the writes from the async ones. That’s unfair. To make this model effective and fair, we’d need to use it in conjunction with if segmentation/compartmentalisa

[2019-11-05 09:26] Stebalien commented on #137
Note: fixing badger is _much_ simpler.

[2019-11-06 07:58] momack2 commented on #137
This sounds good! What are the next steps? Should there be a spec and design review first or move forward with a checklist and quick PoC to validate the approach? Is this simple enough to push forward and land a usable MVP this quarter (to demonstrate package manager performance improvements), or is this fix a significant chunk-o-work?

[2019-11-06 09:23] Stebalien commented on #137
I'd rather add it to the interface for two reasons:

1. We have more wrappers than datastores so optional functions really doesn't buy us much. We have to implement them everywhere anyways.
1. Either option is a breaking change but making it optional is silent:
    1. If we require it, all datastores must upgrade to compile.
    2. If we make it optional, failing to update a datastore wrapper will

[2019-11-06 09:23] Stebalien commented on #137
@momack2 this should be pretty simple.

[2019-11-06 09:25] Stebalien commented on #137
@aschmahmann could you track any progress on this in https://github.com/ipfs/go-ipfs/issues/6523?

[2019-11-11 18:37] aschmahmann opened #139 "Datastore Synchronicity Audit"
This issue is a placeholder to keep track of which libp2p and IPFS components use Datastores and what level of synchronicity are required from the components.

This is in preparation for implementing #137 and switching the IPFS Badger implementation to have synchronous writes turned **off** by default.

If you know of any places where the datastore is used and where synchronicity may be required p

[2019-12-18 11:26] #137 closed, assigned to nobody

[2020-02-11 19:28] Stebalien opened #149 "Hierarchical map datastore"
Currently, performance of prefixed queries against the map datastore is terrible. It's:

1. Synchronous (locks).
2. Walks the entire datastore, regardless of the prefix.

This means, DHTs using an in-memory datastore for provider records will be _really slow_. Unfortunately, provider record lookups are _queries_ over a prefix.

[2020-02-12 00:24] Stebalien commented on #149
Nevermind. We should just use an in-memory leveldb when we care about this.

[2020-02-12 00:24] #149 closed, assigned to nobody

[2020-02-15 13:47] hsanjuan commented on #90
Can be closed @Stebalien ?

[2020-02-15 18:06] Stebalien commented on #90
Yep.

[2020-02-15 18:06] #90 closed, assigned to nobody

[2020-03-23 14:03] hsanjuan commented on #61
Bolt is here: https://github.com/ipfs/go-ds-bolt

The full list of datastores is self-documented here by searching `go-ds` in the organization: https://github.com/ipfs?q=go-ds&type=&language=

[2020-03-23 14:03] #61 closed, assigned to nobody

[2020-04-15 23:48] bonedaddy opened #155 "v0.4.4 Test Suite Takes Ages To Run Sometimes Not Completing"
While working on some datastore repositories, specifically my badgerv2 repo, I upgraded dependencies to v0.4.4 and ran the test suite included in this repository. It was running for 10 minutes before I killed the process because I found it incredibly strange that it was running that long.

I reverted the dependency to v0.3.1 and tests ran in 120.434s. What's the reasoning for the tests taking so l

[2020-04-16 00:55] Stebalien commented on #155
This looks like a serious performance regression in badger2. The test suite completes in 15 seconds on badger 1.6.1.

[2020-04-16 00:55] Stebalien commented on #155
Wait, no, it completes in 16 seconds on badger2. Are you using https://github.com/ipfs/go-ds-badger2?

[2020-04-16 01:11] bonedaddy commented on #155
No I'm using a fork that doesn't use `goprocess` and I'm on `v2.0.3` for badger where the `badger2` repo is using `v2.0.1-rc1`

edit: fork https://github.com/RTradeLtd/go-datastores/blob/master/badger/datastore.go

[2020-04-16 01:14] bonedaddy commented on #155
I get the same problem using `go-ds-badger2` .

edit: Yea I don't think this is related to the fork I'm using as I'm getting the exact same problem on `go-ds-badger2`, and my fork. Something is very off

[2020-04-16 20:00] hsanjuan commented on #155
Are the tests just progressing slowly or hanging?

[2020-04-16 20:10] bonedaddy commented on #155
@hsanjuan Starting with v0.4.0 the `SubtestCombination` tests will start out fast, and then get proggressively slower. I can replicate this with my fork of badger datastore, and upstream badger datastore.  As far as I can tell all the other subtests appear to be okay, it's just the Combinations one

@Stebalien Not sure why the issue is closed? This problem still exists

[2020-04-16 20:17] Stebalien commented on #155
This looks like an issue in your fork, possibly a resource leak. The tests pass in seconds on flatfs, badgerds, leveldb, sql, etc.

[2020-04-16 20:20] bonedaddy commented on #155
As mentioned here I'm getting the exact same issue with upstream so I think this issue is still very valid. This is happening in more than just my fork so I disagree the problem is isolated to my fork

[2020-04-16 20:28] bonedaddy opened #156 "v0.4.4 Causes TestSuite Slowness In SubtestCombinations In A Variety Of Different Datastores"
The last issue was closed because of it "being a problem in my fork" despite  witnessing the problem in upstream badger datastore. So far I have observed this problem in in both [go-ds-badger2](https://github.com/ipfs/go-ds-badger2) as well as [my fork](https://github.com/RTradeLtd/go-datastores/blob/master/badger/datastore.go).

Please don't close this issue again because "it's just happening in

[2020-04-16 21:05] Stebalien commented on #156
There's no need to open a new issue. However, you clearly stated that you _were_ using a fork.

Closing and reopening https://github.com/ipfs/go-datastore/issues/155.

[2020-04-16 21:05] #156 closed, assigned to nobody

[2020-04-16 21:06] Stebalien commented on #155
So you're saying that checking out go-ds-badger2 and running `go test -run TestSuite` is hanging? No go mod changes, no replaced dependencies, etc?

[2020-04-16 21:07] Stebalien commented on #155
That is, https://github.com/ipfs/go-ds-badger2?

[2020-04-16 21:27] Stebalien commented on #155
Wait, are you trying to run these tests with the race detector enabled?

[2020-04-16 21:32] bonedaddy commented on #155
Yes* with the exception of `go test -race ` being used

Yes

Yep I typically dont run tests without the race detector enabled. It takes longer but generally it seems to be safer. What I'm confused on is how between v0.3.1 and v0.4.4 this lead to tests never completing. As far as I can tell in any the releases between 0.3.1 and 0.4.4 `SubtestCombinations` were updated but these are the tests that a

[2020-04-16 21:34] bonedaddy commented on #155
I just tried without `-race` on `go-ds-badger2` and its still hanging :/

[code]

[2020-04-16 21:45] Stebalien commented on #155
Very strange. What OS? What exact commit?

Could you try blowing away your go mod cache?

[2020-04-16 21:49] Stebalien commented on #155
And could you try bisecting the go-datastore commit that introduced this issue?

[2020-04-16 21:52] bonedaddy commented on #155
Yea its extremely weird, I even made sure to run this while in nvidia graphics mode to avoid anything that could be consuming CPU cycles.

OS:
[code]

Kernel:
[code]

Dependency from `go.sum`:

[code]
I ran `go clean --modcache` and reran the test with the same reuslts :(

Yep will do this today

# Switch to v0.3.1 Example

And here's me switching to `v0.3.1` and its working

[code]

[2020-04-16 22:44] Stebalien commented on #155
Which go versoin?

[2020-04-16 22:45] Stebalien commented on #155
Also, it looks like you may be affected by https://github.com/golang/go/wiki/LinuxKernelSignalVectorBug. Not sure if it's related (but it could cause stalls).

[2020-04-17 01:17] bonedaddy commented on #155
[code]

Not sure if this would relate, but I am definitely effected by the bug as it has caused problems previously.

[2020-04-17 01:46] bonedaddy commented on #155
I found the bad commit:
[code]

If I run `go-ds-badger2` with `go-datastore` at this commit the problematic behavior starts

[2020-04-17 03:00] Stebalien commented on #155
That shouldn't make _that_ much of a difference. Try setting `go-datastore/test.ElemCount` to something lower like 50. Does that help?

FYI, go 1.14.1 has a scheduler deadlock in timers (fixed by go 1.14.2). I don't think that'll be related, but it could be.

[2020-04-17 03:01] Stebalien commented on #155
Could you try running:

[code]

Wait for it to hang for a while, then send SIGQUIT (`ctrl+q`) and post the stack traces?

[2020-04-17 04:11] bonedaddy commented on #155
I'll try upgrading to go 1.14.2 to see what happens. I left a `go test ./...` running before my dog walk, ill do the the `go test -run TestSuite` now.

Here's the stack trace from `go test./....` from `v0.4.4` without any modifications.

[code]

Doesn't appear to have made any difference

`ctrl+q` was unsuccessful in quitting, `kill -3 <PID>` didnt give any stack trace just terminated the process

[2020-04-17 04:28] bonedaddy commented on #155
1.14.2 provides no difference

[2020-04-17 07:27] Stebalien commented on #155
IIRC, `go test ./...` will run the actual tests in subprocesses. That's why SIGQUIT won't work.

As for the test, it's performing a put and it doesn't look like anything is stuck. I have no idea why it's taking so long.

[2020-04-17 07:48] hsanjuan commented on #155
On go-ds-badger2 without -race things work fine for me.

With `-race` things get much much slower but don't hang and finish after a few minutes.

Can you reproduce on a different platform @bonedaddy ? I use `go1.14.1`.

Switching to v0.3.1 will solve your problem since it does not have the combinations tests I think. The question is why queries slow down so much when these run...

[2020-04-17 19:45] bonedaddy commented on #155
Still no dice :(

[code]

Can reproduce on one of our dev boxes with the following specs:

OS:

[code]

Kernel:
[code]

CPU:
[code]

Memory: 70GB

Go version:

[code]

edit:

If need be I can try on one of our IPFS nodes during maintenance tonight, they're extremely beefy so might help to rule out any other possible issues

[2020-04-17 22:40] hsanjuan commented on #155
You have SSDs right? Or are you running in spinning disks?

[2020-04-18 02:20] bonedaddy commented on #155
On my laptop I ran the test off an NVMe SSD, on the dev server it was running off a RAID1 disk. On the server I'll be trying it out on tonight it will have an SSD.

[2020-04-18 05:32] bonedaddy commented on #155
Ran it on one of our IPFS nodes with the following specs and the test still hung

Kernel:
[code]

OS:

[code]

CPU:  2x E5-2660 v4

Disk: ran off a 256GB SSD

Memory: 128GB DDR4

Go version:

[code]

[2020-04-20 23:07] Stebalien commented on #155
When it hangs, is the CPU doing a lot of work or is it just sitting there?

[2020-04-21 20:30] bonedaddy commented on #155
It's just sitting there, no major CPU activity to speak of

[2020-04-21 21:00] Stebalien commented on #155
After it does that for a while, could you try dumping the goroutine list again? That should make it clear _what's_ stuck.

[2020-04-21 21:53] bonedaddy commented on #155
Sure I'll do that tonight. I'll increase the timeout to 20 minutes and let it timeout, or if 20 minutes is long enough, decrease the timeout until the test times out.

[2020-04-30 04:13] bonedaddy commented on #155
Hey sorry for the delay got caught up with some other tasks, let me do this now

[2020-04-30 06:32] bonedaddy commented on #155
@Stebalien ran for 30 minutes and it timed out, here's the goroutine dump

[test.log](https://github.com/ipfs/go-datastore/files/4556486/test.log)

[2020-04-30 09:07] hsanjuan commented on #155
This seems like a race condition on badger-v2? I think writes are deadlocked.

Does your machine run these tests fine with badger-v1 ? (sorry if this is answered somewhere, I don't see it above but it's a long thread).

Can you actually enable debug logging in badger and see what's going on? Is it looping endessly `Making room for writes`? Can you plug to the badger stats/accounting and check the

[2020-04-30 21:17] bonedaddy commented on #155
I can reproduce on badger-v1, and badger-v2. Interestingly enough running the test suite on `go-ds-leveldb` takes about 4 seconds to complete.

I'll try the other suggestions you have to see if this helps narrow down the issue, but it's starting to look like the problem is within badger itself whether its v1 or v2

[2020-04-30 21:26] bonedaddy commented on #155
Here's the goroutine dump from badger-v1

[test.log](https://github.com/ipfs/go-datastore/files/4561412/test.log)

[2020-04-30 21:28] bonedaddy commented on #155
Found the cause this is a repeat of https://github.com/dgraph-io/badger/issues/1084

[2020-04-30 21:28] #155 closed, assigned to nobody

[2020-04-30 21:43] Stebalien commented on #155
Interesting. But that doesn't really explain why it's still fast on _my_ linux system.

Note: go-ipfs now disables sync writes by default and calls `Sync` before and after it pins.

[2020-05-07 05:03] bonedaddy opened #160 "Keytransform Only Supports Batched Datastores"
I'm working on a codebase that currently uses a `datastore.Batching` type backed by `leveldb` using a namespace wrap. Unfortunately it appears that the namespace only supports `datastore.Batching` and can't be used in place of a `datastore.TxnDatastore`.

Is this intentional?

[2020-05-07 10:11] Stebalien commented on #160
We should probably be doing what we do in the mount datastore. There, we type assert to `datastore.Batching` on demand and return `ds.ErrBatchUnsupported` if batching is unsupported.

[2020-10-31 04:21] crackcomm opened #165 "Datastore interface is a bottleneck"
Hey, I just want to raise an issue that datastore interface is a bottleneck for high-performance usage eq. in FUSE mount because it doesn't provide `Seek` or _partial read_ function with `offset` and `size`.

[2020-10-31 04:30] crackcomm commented on #165
See [rendered](https://ipfs.io/ipfs/QmZuyxd3SYKfx8su87Dr8ehwrcfhUKhASuBrF7pxjysJwC) [cpuprof](https://ipfs.io/ipfs/QmcRjySUhVUjfH9RgzkuFkMFcJJ65NstSv42x7d7qVZ3h2) from FUSE file access.

The file is read 100x for a single read.

![image](https://user-images.githubusercontent.com/206368/97771087-de347e00-1b39-11eb-87f0-cf9938839be1.png)
![image](https://user-images.githubusercontent.com/206368/9777

[2020-10-31 05:01] crackcomm commented on #165
It might be beneficial to introduce the concept of the `Open` or `seekable` method that could be used in FUSE.

The `seekable` method can be provided for any byte array, see Rust [`peekable`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.peekable) for an example implementation.

The method `Get` returning `[]byte` for DAGs is fine but we can do better than allocating 250x1MB of `[]

[2020-10-31 23:38] aschmahmann commented on #165
This doesn't really seem like a datastore problem as much as an issue in the FUSE implementation.

Sure you could create a `SeekableDatastore` interface that extends `Datastore` and then implement that in some relevant datastores.

However, the application layer (i.e. your FUSE implementation) probably has a better idea of what it's trying to do than a datastore might. For example, if a block of d

[2020-11-01 01:26] djdv commented on #165
@aschmahmann

That's not the case :^/
I asked the former maintainer to meet with me to discuss design decisions until they stopped responding. Around August I was trying to schedule with you over Slack for a few weeks but nothing ever came of it.

I'm available to work on this if it's something the project wants, but I need someone with authority to discuss direction and decisions with me as well

[2020-11-01 01:47] aschmahmann commented on #165
Oh hey @djdv. Didn't mean to offend you at all, sorry if came off like that. If I left you hanging I apologize.

I've been a bit swamped, but things are starting to clear up and we're making plans for next year. I'll reach out so we can catch up and figure out the next steps.

[2020-11-01 06:24] crackcomm commented on #165
This in fact might be seen as a problem of go-ipfs FUSE implementation but this will be inherent to any application using datastore interface. This is the reason for the issue.

I also think that datastore user applications could be improved as @aschmahmann said but this will be putting lipstick on a pig.

In the case of ds-flatfs, current [implementation](https://github.com/ipfs/go-ds-flatfs/blob

[2020-11-01 06:35] crackcomm commented on #165
I think some might be concerned about backward compatibility and the issue of porting all libraries at once, this is not necessary when changing it in such a small way. A new datastore method can be added to the interface, keeping `Get` in place and adding wrappers with [`NewReader`](https://golang.org/pkg/bytes/#NewReader), [`NopCloser`](https://golang.org/pkg/io/ioutil/#NopCloser)  etc.

The mai

[2020-11-06 18:18] aschmahmann commented on #165
FlatFS is only one of many datastores using these interfaces (Badger, LevelDB, S3, Azure, Memory, Pebble, ...) there's nothing wrong with adding more to go-ds-flatfs and then checking for optimizations if the datastore supports it.

If it turns out more than one or two databases support the given functionality we can talk about adding a new extension interface (e.g. TTLStore), but until then Go le

[2020-11-06 18:32] crackcomm commented on #165
@aschmahmann indeed maybe that could be _extension_ using Go interface casting.

[2020-11-09 17:13] djdv commented on #165
@crackcomm

The file is read 100x for a single read.

Curious to see what the flamegraph looks like on this branch: https://github.com/djdv/go-ipfs/tree/tmp
Would you be willing to run it?

I don't remember much about the original fuse implementation's use of the Datastore API directly, but I can say that in the branch above,  a FileSystem interface [is defined](https://github.com/djdv/go-ipfs/blo

[2021-04-12 14:34] aschmahmann commented on #165
As was mentioned above given that this request is coming from an application layer request (a FUSE implementation of go-ipfs wants to be able to read partial file data) and that there are a large number of steps and refactors that would be required in order to provide that functionality natively rather than on top of the application layer (e.g. by just caching the bytes instead of repeatedly retri

[2021-04-12 14:34] #165 closed, assigned to nobody

[2021-11-14 10:19] jsimnz commented on #116
Is there anything notable blocking from this landing in `master`? Would be great to use proper ranges, and if possible, let the underlying storage backend optimize range queries.

[2021-11-15 18:00] Stebalien commented on #116
It needs to be implemented (correctly) in badger, flatfs, s3, etc. and that's a fair amount of work, especially because it interacts with other parts of the query system.

[2021-11-16 03:15] jsimnz commented on #116
Would it make sense to scope this to another interface, something like `RangeDatastore` or something.

Implemented as:
[code]
*Implementation based on your range code gist*

This way it can be implemented by only those datastore implementations that actually support this kind of Query effectiently, and not worry about the weird edge case of implementing range queries on those that don't make sense

[2021-11-16 18:55] Stebalien commented on #116
Unfortunately, no. Go has some pretty big holes in its composition story until we get generics. We'd:

1. Have to implement this for, e.g., the "Mount" datastore.
2. We'd then need to deal with some sub-datastores potentially not implementing it.

To be clear, I'd very much like this feature, someone just needs to submit patches to implement and test it.

I'd also be open to _removing_ some featur

[2021-11-17 21:48] jsimnz commented on #116
Would this then need to be split up into two issues?

1. A Query refactor to remove the noted elements
2. A updated query implementation that operates on Ranges instead of Prefix

Or leave it as a single refactor + feature PR?

I have a pretty good sense of how a Range might be implemented based on my existing usage and understanding of the package, along with your example gist for ranges.

I woul

[2022-02-28 22:11] guseggert commented on #88
This article describes the situation well: https://blog.merovius.de/2017/07/30/the-trouble-with-optional-interfaces.html

I am interested in this because I want to make a dispatching datastore that proxies reqs over a network. With the current type layout, this isn't possible to do dynamically because we can't dynamically define methods. I'll experiment with codegen, which will require generating

[2022-04-22 20:33] Ericson2314 opened #190 "Generic keys?"
It might be nice to make the key type a parameter on the core interfaces, rather than a fixed type. Different use-cases structure keys in different ways.

I assume there is a more general conversation on when to the new Go generics, but open this to track this specific use case of generics. I'll reference it in other issues.

[2022-04-22 20:36] Ericson2314 commented on #83
I think this can be closed?

[2022-04-22 20:41] guseggert commented on #190
Do you have a concrete use case for this that we can discuss?  Or multiple, ideally.

Also note that this would be a costly change since it would require a major version bump, but there are a lot of consumers and migration would take a long time, requiring maintenance of multiple versions of this and datastore implementations.

[2022-04-22 20:43] #83 closed, assigned to hsanjuan

[2022-04-22 21:04] Ericson2314 commented on #190
The concrete use-case I have in mind is https://github.com/ipfs/go-ipfs/issues/8907. This could be accomplished by modifying the key schema to include and optional CID, or making a second type of datastore plugin.

When keys are strings having two types of data store plugins is annoying because the key types are the same even though they logically are not, but perhaps doable. On the other hand, mo

[2022-07-18 17:22] Ericson2314 commented on #190
It occurs to me that by making a new interface, and then making the original interface a specialization of the new one, that we could avoid all breaking changes?

[2022-07-22 15:42] BigLep commented on #190
@Ericson2314 : this change doesn't need to be made in go-datastore right?

[2022-07-29 00:57] Ericson2314 commented on #190
@BigLep Well you tell me. As described, I would like some current uses in IPFS of this library to use the typed keys variant. I think the current version of this library can also use the type keys variant for deduplication's sake. I could make a new library and send a PR to this library gutting it into a thin wrapper, but is that worth it?

[2022-07-29 15:49] aschmahmann commented on #190
@Ericson2314 as I flagged in the other issue I don't think the datastore is going to give you the information you need for SWH. However, I think the idea here is that you can make new interfaces elsewhere (or in a branch here) and as the use cases emerge they can get evaluated.

For example, if you wanted to use the new datastore type inside of kubo the kubo maintainers would take a look at the us

[2022-07-29 21:33] Ericson2314 commented on #190
Sounds good. I meant to float the idea to see if it as something you all thought was plausible/worth considering not get you do the work for me :)

[2022-08-01 14:55] #190 closed, assigned to nobody

[2022-08-01 14:55] Ericson2314 commented on #190
Now that I know about the `Blockstore` interface this is less urgent.

[2022-10-18 18:49] noot opened #196 "don't append "/" to prefix in queries"
Currently, when doing a datastore query using `Prefix`, a `/` is automatically appended to the end of the prefix (see https://github.com/ipfs/go-datastore/blob/master/query/query_impl.go#L134)

This caused issues for me when implementing prefix lookups in the Kad-DHT. The Kad-DHT `ProviderStore` uses go-datastore, but since a slash was automatically added to prefixes, it caused nothing to be retur

[2022-11-10 16:31] guseggert commented on #196
The comment above that line explains the rationale for this behavior:

https://github.com/ipfs/go-datastore/blob/04c7b6fca92f8524ab8e2d9ea7ec6d3853a9c075/query/query_impl.go#L121-L122

[2022-11-10 16:32] guseggert commented on #196
There's no workaround for this. Given the constraint laid out in that comment, is there any change we could make here? Otherwise we can close this.

[2022-11-23 22:12] noot commented on #196
@guseggert Thanks for the response. Another solution I could see is to have a separate query for prefixes that doesn't append the `/`, or there could be an option to disable appending it. That way it wouldn't break any existing dependencies.